
*{margin:0;
    padding: 0;
    box-sizing: border-box;
    
}

body, html{
    height: 100%;
  }

body{

    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background: #9E9E9E url(../../imagens/jogo2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    backdrop-filter: blur(5px);
    
}
.bg [id=bg]{
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
  }

form{
    
    background-color: white;
    max-width: 330px;
    width: 100%;
    padding: 15px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: auto;
    transform: translate(-50%,-50%);
}
.bd-placeholder-img [id=logo] {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg[id=logo] {
      font-size: 3.5rem;
    }
  }
.form-h1 {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}
  .form-h1 .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-h1 .form-control:focus {
    z-index: 2;
  }

form input[type=text]{
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

form input[type=password]{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    
}

form input[type=submit]{
    width: 100%;
    height: 40px;
    cursor: pointer;
    background: #5F7C8A;
    color: white;
    border: 0;
    border-radius: 20px;
    
}
